* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #0e1129;
    padding: 2rem;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}